@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//varible
$background-color:#070c1f;
$text-color: #fff;
$text-button-color:#16cf16;
$color-button-hover:#1a1f31;

*{  font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
*::selection
{
    background-color: $text-button-color;
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

html::-webkit-scrollbar{
    width: .3rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}
.grid-1
{
    width: 102.4rem;
    max-width: 100%;
}
.style-button
{
     min-width: 20rem;
     padding: 1rem;
     max-width: 30vw;
     border-radius: 20rem;
     font-weight: 500;
     background: $text-button-color;
     display: inline-block;
     color:#070c1f;
     &:hover
     {
         background: $color-button-hover;
         color: $text-color;
     }
}


/* key frame*/
@keyframes Infi-up-down {
    0%{
        margin-top: -.5rem;
   
    }
    100%
    {
        margin-top: 0rem;
    }
}